@charset "utf-8";
/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
html {
}
/* CSS Style */
.wrap {
	width: 1003px;
	margin: 0 auto
}
li{
	float:left;
	margin:0 0 10px 0;
}
img{
	padding:10px;
	border:2px solid gray;	
	margin-right:10px;
	margin-bottom:0px
}
p{
	font-size:11pt;
	line-height:130%;
}
 @media only screen and (max-width: 767px) {
.wrap {
	width: 100%;
	margin:30px 0 0 30px;
}
}
@media only screen and (max-width: 480px) {
.wrap {
	margin:10px 0 0 0;
}	
img {
	width: 50%; /* img寬度以百分比呈現 */
	padding:5px;
	border:1px solid gray;
	margin-right:0px;
}
li{
	float:none;
	text-align:center;
}
p{
	width:50%; /* 段落寬度以百分比呈現 */
	margin:0 auto 10px auto;
}
}
