@charset "utf-8";
/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
.clear{clear:both}
/* CSS Style */
.wrap {
	width: 1003px;
	margin: 0 auto
}

li{
	float:left;
	background:green;
	border-right:1px solid #fff;
}
a{
	color:#fff;
	display:block;
	padding:0 10px;
	font-weight:bold;
	text-align:center;
	height:30px;
	line-height:30px;
	text-decoration:none;;
}

 @media only screen and (max-width: 480px) {
.wrap{
	width:480px;
	margin:0px 0 0 0;
}	 
.other_side{
	display:none;
}
.nav{
	background:green;
	width:100%;
}
}
