/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
html {
}
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto ;
}
/* CSS Reset end */
.wrap {
	max-width: 960px;
	margin: 0 auto;
}
.header{
	position: relative;
	height: 350px;
}
@media (max-width: 768px){
	.header{
		height: auto;
	}
}
.logo{ 
		position:absolute;
    top:30px;
    left:0px;
}
.logo a{
	display:block;
	width:250px;
	text-indent:-99999px;
	height:250px;
	background:url(../images/M1.png)
}
@media (max-width: 768px) {
	.logo{
		position:relative;
		margin:0 auto;
		width:150px;
	}
	.logo a{
		display:block;
		width:150px;
		height:170px;
		background:url(../images/M2.png) no-repeat
	}	
	
}
.menu{
	float:right;
	margin:30px 0 0 0;
}
.menu li{
	float:left;
	background:#3399FF;
	border-right:1px solid #fff;
}
.menu li a{
	color:#fff;
	display:block;
	width:100px;
	font-weight:bold;
	text-align:center;
	height:30px;
	line-height:30px;
	text-decoration:none;
}
@media(max-width: 768px){
	.menu{
		float:none; /* 拿掉浮動 */
	} 
	.menu li {
		width:90%;
		float:none; /* float style */
		margin:0 auto 10px auto;	
		border-radius:3px;
	}
	.menu li a{
		width:100%;
		text-align:center;
	}
}
.content{
	float: left;
	width: 75%;
	border:2px solid #000;
	padding: 10px
}
.content h2{
	font-weight: bold;
	font-size: 26px;
	padding: 30px 0 20px 0;
}
.content p{
	line-height: 1.8;
	letter-spacing: 1pt;
	padding: 0 0 30px 0;
}
.sidebar{
	float: right;
	width: 20%;
	border:2px solid #000;
	padding: 5px;
	margin-left: 5%;
}
.sidebar img{
	margin:0 0 10px 0;
}
 @media(max-width: 768px) {
	.content,.sidebar{
		border:none;
		float: none; /* 拿掉浮動 */
		width: 100%; /* 百分比呈現寬度 */
		margin: 0;
	}
	.sidebar img{
		display: block;
		max-width:90%;
		height:auto;
		margin-bottom: 10px;
	}
}
.footer{
	clear: both;
	padding: 1em 0;
	text-align: center;
}
